:root{
    --cor-letra-menu:black;
    --menu-mobile:gray;
    --cor-menu:#2c2c2c;
    --cor-letra-menu:#d3d3d3;
    --cor-fundo-pagina:#cccfcf;
    --fundo-alternativo:#3f3f3f;
}

body{
    margin: 0;
    background-color: var(--fundo-alternativo);
}

.header{
    background-color: var(--cor-menu);
    margin-top: -20px;
    height: 140px;
    position: sticky;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    color:var(--cor-letra-menu);
    font-size: 20px;
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
    z-index: 10;
}
.header img{
    width: 110px;
    margin-top: 10px;
}
#avatar2{
    display: none;
}
.header:hover #avatar1{
    display: none;
}
.header:hover #avatar2{
    display: block;
}
.menu ul{
    list-style: none;
    margin-top: 30px; 
}
.menu li{
    display: inline-block;
    padding: 0 10px;
}
.header a{
    text-decoration: none;
    color: var(--cor-letra-menu);
    display: inline;
    padding: 0 15px;
}
.header a:hover {
    border-bottom: 2px solid;
}
.header button{
    bottom: none;
    color: #d3d3d3;
}
#btn-mobile{
    display: none;
    gap: 18px;
}
#hamburguer{
    width: 20px;
    border-top: 2px solid #d3d3d3;
    gap: 2px;
    display: block;
}
#hamburguer::after , #hamburguer::before {
    background-color: #d3d3d3;
    width: 20px;
    height: 2px;
    content:' ';
    display: block;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}
#nav.active #hamburguer{
    border-top: transparent;
}
#nav.active #hamburguer::before{
    transform: rotate(135deg);
}
#nav.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
}
section{
    margin-top: -50px;
    text-align: center;
    background-color: var(--cor-fundo-pagina);
    height: 400px;
}
section h1{
    font-size: 60px;
    padding-top: 50px;
}
section h2{
    font-size: 40px;
    padding-top: 10px;
}
section p{
    font-size: 25px;
    padding-top: 20px;
}
#formacao h1::before,section h2::before{
    content: "-";
}
#conhecimento{
    padding-top: 80px;
}
#container img{
    display: inline-block;
    height: 140px;
    padding: 0px 20px;  
}
#htmlogo{
    margin-top: 10px;
    height: 120px;
}
#csslogo{
    height: 200px;
}


@media (max-width: 854px) {

    #btn-mobile{
        display: flex;
        padding: 20px 0px;
        margin: 0 40px;
        border: none;
        background: none;
        cursor: pointer;
    }
    .menu{
        display: block;
        visibility: hidden;
        position: absolute;
        right: 0;
        top: 120px;
        width: 100%;
        background-color: var(--cor-menu);
        height: 0;
        z-index: 10000;
        transition: .6s;
        overflow-y: hidden;
    }
    #nav.active .menu{
        visibility: visible;
        height: calc(100vh - 120px);
        overflow-y: auto;
    }
    .menu li{
        display: block;
        padding: 10px;
        border-bottom: 2px solid rgba(0, 0, 0, .4);
    }

    section h1{
        font-size: 30px;
    }
    section h2{
        font-size: 20px;
    }
    section p{
        font-size: 16px;
    }
    
    #conhecimento{
        margin-top: 50px;
    }
    
    #container{
        display: block;
    }

}